body {
  background-color: #fbf37c;
  color: #58555a;
  height: 100%;
  font-family: Verdana, Arial, Geneva, Arial Black;
  font-weight: lighter;
  border-style: solid;
  border-radius: 4px;
  border-color: #0b0d0c;
  padding: 10px;
  margin: 10px;
}

h1,
h2 {
  color: #14bd49;
  /* border-bottom: 2px solid #0b0d0c; */
  /* border-radius: 5px; */
  text-align: center;
  text-decoration: underline;
  font-weight: 900;
}
.font-18 {
  font-size: 18px;
}
.font-20 {
  font-size: 20px;
}
.underline {
  text-decoration: underline;
}
.grey {
  color: #58555a;
}

.blue {
  color: #5f9595;
}
.line-height-cls {
  line-height: 1.5em;
}

.para-cls {
  background-color: #e5e4d7;
  /* color: #40281f; */
  padding: 10px;
  border-radius: 2px;
  border-color: #0b0d0c;
  border-style: solid;
  background-image: url("../images/clouds-img.jpg");
}
.para-cls-4 {
  background-color: #e5e4d7;
  /* color: #734814; */
  padding: 10px;
  border-radius: 10px;
  border-color: #8cd9ff;
  border-style: ridge;
  border-width: thick;
  margin: 20px;
  margin-left: 500px;
}
/* .margin-20 {
  margin: 20px;
} */
.padding-40 {
  padding: 40px;
}
.padding-20 {
  padding: 20px;
}

.image-cls {
  display: block;
  width: 250px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  border-color: #003047;
  border-style: solid;
  border-radius: 2px;
  background-color: #a5e0fd;
  padding: 3px;
}
.background-color-white {
  background-color: #f7f3f0;
}
.container-1,
.container-2,
.container-3 {
  color: rgb(131, 21, 21);
}

.links-container {
  color: #14bd49;
  font-size: 20px;
  /* font-weight: bold; */
}

a:link {
  color: #003047;
}
/* a:visited {
  color: grey;
}
a:focus {
  color: rgb(148, 4, 177);
}
a:hover {
  color: rgb(201, 80, 0);
} */
a.example:link {
  color: #c02d28;
  /* cursor: url("../images/NewCursor.ico"), pointer; */
}
a.example:visited {
  color: blue;
}
a.example:focus {
  border: 3px dotted black;
}
a.example:hover {
  color: purple;
  font-weight: bold;
  cursor: url("../images/NewCursor.ico"), pointer;
}
a.example:active {
  color: #7c8e88;
}
.acronym-cls {
  font-weight: bolder;
  font-size: larger;
  color: #0b0d0c;
}
.custom-cursor-cls {
  cursor: url("../images/mailIcon.ico"), pointer;
}

.margin-10-cls {
  margin: 10px;
}

.align-center-cls {
  width: max-content;
  margin: 10px auto 0px auto;
}