:root {
  background: black;
  color: white;
  height: 100%;
}

/* using em is the new standards */
.mainContainer {
  margin: 5em;
  margin-top: 1.5em;
}
h2 {
  font-weight: bold;
  color: rgb(247, 247, 188);
  font-size: 2em;
}
p {
  font-size: 1.4em;
  line-height: 1.3em;
}
